* {
box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 7%);
}

.sidebar {
    background-color: hsl(240, 2%, 12%);
    border: 1px solid hsl(0, 0%, 22%);
    border-radius: 20px;
    padding: 15;
    box-shadow: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
    z-index: 1;
}
