@media only screen and (max-width: 1280px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    .min-width1025 {
        display: none;
    }
  }

  @media only screen and (max-width: 1025px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: none;
    }

  }

  @media only screen and (max-width: 1025px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: none;
    }
    .min-width1025 {
        display: block;
    }
  }



  